/* // Social Media Circle */

.circle {
  height: 60px;
  width: 60px;
  z-index: 10;

  .background {
    fill: transparent;
    stroke: #ffffff00;
    transition: all 200ms ease;
  }

  .foreground {
    fill: transparent;
    stroke-dasharray: 188;
    stroke-dashoffset: 188;
    stroke: #226ec5;
    transform-origin: 50% 50%;
    transform: rotate(-270deg);
    transition: all 800ms ease;
  }

  &:hover {
    cursor: pointer;
    color: #226ec5;

    .background {
      stroke: transparent;
    }

    .foreground {
      stroke-dashoffset: 0;
      transform: rotate(-90deg);
    }
  }
}
